.header {
    /*background-color: #009bff;
    color: white;*/
    padding: 40px 50px;
    text-align: center;
}

.header-content {
/*    display: flex;*/
    align-items: center;
    justify-content: center;
}

/*.site-title {
    margin-right: 40px;
}*/

.logo {
    height: 200px; /* Điều chỉnh kích thước logo theo ý muốn */
}
