.header {
    background-color: #009bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-title {
    margin-right: 20px;
}

.logo {
    height: 70px; /* Điều chỉnh kích thước logo theo ý muốn */
}
