body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
   /* background-color: #007bff;
    color: black;
    padding: 10px 20px;*/
    text-align: center;
}

.header nav a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.header nav a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
}

.product-list {
    margin: 20px 0;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
}
